@charset "UTF-8";

@media screen and (max-width: 420px) {
  /* Desativar toda a parte desktop e ativa toda a parte mobile */
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }

  /* Desativar o blur superior direito */
  #bola1 {
    display: none;
  }

  /* Ajuste HEADER */
  header {
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.62rem;
    width: 27.06rem;
    height: 3.65rem;
  }

  header nav {
    margin-top: 26px;
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0rem;
    top: 6.5rem;
  }

  /* Menu de navegação */
  nav a {
    border-top: 0.06rem solid #29292e;
    display: flex;
    font-weight: 700;
    font-size: 1.12rem;
    line-height: 1.56rem;
    text-align: center;
    align-items: center;
    color: #e1e1e6;
    width: 31.25rem;
    height: 3.12rem;
    padding-left: 1.92rem;
    cursor: pointer;
  }
  a:hover {
    border-left: 0.31rem solid #8257e6;
    cursor: pointer;
  }

  /* Troca e posiciona a logo do menu */
  .logoMenu {
    margin-left: 9.81rem;
    cursor: pointer;
  }

  /* Posiciona mostra e posiciona o texto no modo mobile */
  #titleMobile {
    display: block;
    width: 23.31rem;
    height: 8rem;
    margin-top: 11.5rem;
    margin-bottom: 5.5rem;

    font-style: normal;
    font-weight: 600;
    font-size: 1.87rem;
    line-height: 2.56rem;
    text-align: center;
    letter-spacing: 0.02rem;

    color: white;
  }

  /* Ajuste o tamanho da fonte do H1, H2 Great coffee e <Great Code/> */
  main h1,
  main h2 {
    font-size: 3.12rem;
  }

  /* Posiciona o button centralizado */
  #pedido {
    position: absolute;
    top: 28.12rem;
    left: 6.25rem;
  }

  /* Posiciona a imagem no final da página */
  #coffee {
    display: flex;
    position: absolute;
    width: 26.75rem;
    height: 20.81rem;
    left: 0rem;
    top: 46.87rem;
  }

  /* Posiciona o blur inferior centralizado no footer*/
  #bola2 {
    width: 20.06rem;
    height: 20.06rem;
    left: 4.25rem;
    top: 46.87rem;
    background: #996dff;
    filter: blur(21.87rem);
  }

  .isHidden {
    display: none;
  }
}
